body{
    margin:0%;
    padding:0%;
    width: 100vw;
    overflow-x: hidden;
    background-color: #F3F3FD !important;
}

nav{
    height: 13.5vh;
    width: 100vw;
    position:fixed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding-left: .5vw;
    background-color: #404040;
    z-index: 1000;
}

#logo{
    height:9vh;
    text-align: center;
    align-items: center;
}

#logo img{
    height: inherit;
    aspect-ratio: 1;
}

#logo h3{
    margin-left: 2vh;
    padding: 0;
    margin-bottom: 0;
    font-weight: 700;
    color:aliceblue;    
}

#navigate{
    align-items: center;
    height: 1em;
    padding-right: 5vw;
}

#navigate a{
    margin-right: 1vw;
    padding: 0% .3em;
    box-sizing: border-box !important;
    color: gray;
}

#navigate a:hover{
    color:white;
}

#navigate p{
    text-align: center;
    margin-bottom: 0px;
    font-weight: 500;
}

#navigate .name{
    color: gray;
    margin-right:3em;
}

#hamburger{
    margin-left:2vw;
    text-align: center;
    z-index: 1100;
}

#hamburger i:hover{
    color: #505050 !important;
}

/* -------------------------------------------- Sidebar -------------------------------------------- */

#sidebar{
    width: 20vw;
    height: 86.5vh;
    position:fixed;
    background-color: #202020;
    z-index: 900;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.nav{
    height: 4em;
    width: inherit;
    background-color: transparent;
    margin:0;
    position:relative;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.nav:hover{
    background-color: #40404040;
    p{
        margin:0 3.5em;
    }
}

.nav .active{
    p{
        margin: 0 4em;
    }
}

.nav::after{
    content:'';
    position:absolute;
    bottom:0;
    left:3%;
    width:94%;
    height:1px;
    background-color: #40404080;
}

.nav p{
    text-decoration: none;
    color:#808080;
    text-align: left;
    margin: 0 3em;
    padding: 0;
    font-weight: bold;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

#content{
    margin:1em;
    padding:1em;
    box-sizing: border-box;
    overflow-y:scroll;
    border: 1px solid #80808080;
    border-radius:20px;
    scrollbar-width: 0;
    -ms-overflow-style: none;
}

#contentBox{
    margin-left:20vw;
    width:80vw;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

#content::-webkit-scrollbar{
    display: none;
}