body{
    margin:0%;
    padding:0%;
    width: 100vw;
    overflow-x: hidden;
}

#navbar{
    height: 13.5vh;
    width: 100vw;
    position:fixed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding-left: .5vw;
    background-color: #404040;
}

#navbar .line{
    height: 1.5px;
    width: 100%;
    background-image: linear-gradient(to left, #00000000, #3A8EF6, #703afae9, #3A8EF6, #00000000);
}

#logo{
    height:9vh;
    margin-left:3vw;
}

#logo img{
    height: inherit;
    aspect-ratio: 1;
}

#logo h3{
    text-align: center;
    margin-left: 2vh;
    font-weight: 700;
    color:aliceblue;
}

nav{
    align-items: center;
    height: 1em;
    padding-right: 5vw;
}

nav a{
    margin-right: 1vw;
    padding: 0% .3em;
    box-sizing: border-box !important;
    color: gray;
}

nav a:hover{
    color:white;
}

nav a p, nav p{
    text-align: center;
    margin-bottom: 0px;
    font-weight: 500;
    margin-left:3vw;
}

nav .name{
    color: gray;
}