.row {
    margin-top: 5vw !important;
    margin-bottom: 5vw !important;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	box-sizing: border-box;
	font-family: 'Satoshi';
}

.col-1 {
    width:2.5vw !important;
}

.col-2 {
	width: 33vw !important;
}

.col-3 {
	width: 57vw !important;
}

.search {
	position: relative;
	width: 100%;
	margin-bottom: 2rem;
}

.search input {
	width: 100%;
	font-size: 1.2rem;
	font-weight: 500;
	color: #52525280;
	background-color: #F9F7F7;
	padding: 1rem 1.5rem;
	border-radius: 1.5rem;
	box-shadow: 1.23px 3.7px 2.47px 0 #908B8B40;
	border: 0;
	outline: 0;
}

.search-addon {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
}

.search-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
	height: 2.5rem;
	border: 0;
	border-radius: 50%;
	background: linear-gradient(-65deg, #3A8EF6, #6F3AFA);
	color: #FFFFFF;
}

.search-btn svg {
	width: 70%;
}

.hero {
	padding: 1rem;
	background: linear-gradient(-36deg, #BBBBBB90, #FFFFFF);
	border: 3px dashed #8A8585;
	border-radius: 1.5rem;
}

.hero img {
	width: 100%;
	height: auto;
	border-radius: 1rem;
}

.about {
	background: linear-gradient(-36deg, #BBBBBB90, #EFEFEF);
	padding: 2rem;
	border: 3px solid #3A8EF6;
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.about-title,
.about-description {
	margin: 0;
	padding: 0;
}

.about-title {
	color: #000000;
	font-size: 2.4rem;
	font-weight: 600;	
}

.about-description {
	color: #8A8585;
	font-size: 1rem;
	font-weight: 500;	
}

.program {
	margin-top: 10rem;
}

.program-title {
	color: #000000;
	font-size: 1.2rem;
	font-weight: 600;
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
}

.program-wrap {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.program-item {
	flex: 1;
}

.program-item-orange .program-icon {
	background-color: #FFB100;
}

.program-item-red .program-icon {
	background-color: #ED1E79;
}

.program-item-green .program-icon {
	background-color: #8EC641;
}

.program-icon {
	color: #FFFFFF;
	padding: 2rem 1rem;
	border-radius: 1.5rem;
}

.program-icon img,
.program-icon svg {
	width: 100%;
}

.program-subtitle {
	color: #000000;
	font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 0.5rem;
}